body {
    background-color: beige;
    margin: 0px;
}

#main-container {
    display: flex;
    flex-flow: column nowrap;
    border: 0px solid black;
}

h1 {
    text-align: center;
}

.section {
    box-sizing: border-box;
    padding: 10px 25px;
}

#navbar {
    background-color: bisque;
}

#navbar>ul {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-evenly;
    align-items: center;

}

ul>li:last-child {  }

#main {

    
}
